.article {
    &-list {
        .row {
            margin-left: -25px;
            margin-right: -25px;
            >div {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        &_item {
            display: block;
            margin-bottom: 85px;
            border-radius: 30px 0 30px 30px;
            padding-bottom: 25px;
            transition: $transition-common;
            &:hover {
                background-color: $primary-1;
                .article-list {
                    &_pic {
                        >img {
                            transform: scale(1.2);
                        }
                    }
                    &_more {
                        opacity: 1;
                    }
                    &_date, &_title, &_content, &_tag {
                        color: #fff;
                    }
                }
            }
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 70%;
            border-radius: 30px 0 30px 0;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                transition: $transition-common;
            }
        }
        &_more {
            position: absolute;
            color: $gray-2;
            font-size: 16px;
            right: 30px;
            bottom: 0;
            transition: $transition-common;
            opacity: 0;
            background-color: #fff;
            padding: 8px 12px;
            border-radius: 10px 0 0 0;
            &:hover {
                background-color: $primary-1;
                color: #fff;
            }
        }
        &_text {
            padding: 0 20px;
            margin-top: 25px;
            border-left: 2px solid $primary-1;
            transition: $transition-common;
        }
        &_date {
            font-size: 18px;
            color: $gray-2;
            margin-bottom: 15px;
            transition: $transition-common;
        }
        &_title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 10px;
            transition: $transition-common;
        }
        &_content {
            font-size: 16px;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            transition: $transition-common;
        }
        &_tag {
            font-size: 16px;
            color: #003399;
            transition: $transition-common;
        }
    }
    &-detail {
        &_head {
            margin-bottom: 60px;
        }
        &_link {
            a {
                display: flex;
                align-items: center;
                img {
                    width: 14px;
                }
                svg {
                    color: $gray-3;
                    // font-size: 18px;
                    width: 18px;
                    height: 18px;
                    .cls-1 {
                        fill: $gray-3;
                        transition: $transition-common;
                    }
                }
                span {
                    color: $gray-3;
                    transition: $transition-common;
                }
                &.prev {
                    padding-right: 15px;
                    position: relative;
                    img {
                        margin-right: 15px;
                    }
                    &::after {
                        position: absolute;
                        content: "|";
                        color: $gray-3;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
                &.next {
                    padding-left: 14px;
                    img {
                        margin-left: 15px;
                    }
                }
                &:hover {
                    svg {
                        .cls-1 {
                            fill: $primary-1
                        }
                    }
                    span {
                        color: $primary-1;
                    }
                }
            }
        }
        &_content {
            margin-bottom: 120px;
        }
        &_main {
            width: 30%;
        }
        &_pic {
            width: 100%;
            padding-bottom: 70%;
            position: relative;
            border-radius: 30px 0 30px 0;
            overflow: hidden;
            margin-bottom: 50px;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_tag {
            background-color: #fff;
            border-radius: 10px;
            padding: 25px;
            h3 {
                font-size: 30px;
                font-weight: 900;
                margin-bottom: 30px;
            }
            ul {
                li {
                    color: #003399;
                    font-size: 16px;
                }
            }
        }
        &_text {
            width: 70%;
            padding-left: 70px;
            h2 {
                color: $primary-1;
                font-size: 36px;
                font-weight: 900;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 24px;
                font-weight: 900;
                text-decoration: underline;
                margin-bottom: 15px;
            }
            p {
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 25px;
            }
            h4 {
                font-size: 18px;
                font-weight: 900;
                margin-bottom: 25px;
            }
            img {
                max-width: 680px;
                display: block;
                width: 100%;
                margin: 45px auto;
            }
        }
        &_date {
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 30px;
            color: $gray-2;
        }
    }
    @media screen and (max-width: 991px) {
        &-detail {
            &_main {
                width: 100%;
                margin-bottom: 40px;
            }
            &_text {
                width: 100%;
                padding: 0;
            }
        }
        &-list {
            &_more {
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &-list {
            &_item {
                margin-bottom: 50px;
            }
        }
        &-detail {
            &_link {
                a {
                    img {
                        width: 10px;
                    }
                    span {
                        // font-size: 16px;
                        display: none;
                    }
                    &.next {
                        padding-left: 12px;
                    }
                }
            }
            &_date {
                font-size: 16px;
            }
            &_text {
                h2 {
                    font-size: 28px;
                }   
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

.qa {
    &_list {
        margin-bottom: 125px;
        &_item {
            padding: 20px;
            border-top: 1px solid $gray-1;
            transition: $transition-common;
            &.active {
                background-color: #fff;
                .qa_list {
                    &_question {
                        h2 {
                            color: $primary-1;
                        }
                    }
                    &_arrow {
                        transform: rotate(180deg);
                        svg {
                            .cls-1 {
                                fill: $primary-1;
                            }
                        }
                    }
                }
            }
            &:hover {
                background-color: #fff;
            }
        }
        &_arrow {
            transition: $transition-common;
            svg {
                width: 20px;
                height: 20px;
                .cls-1 {
                    transition: $transition-common;
                    fill: $gray-3;
                }
            }
            // width: 15px;
            // height: 15px;
            // position: relative;
            // >img {
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     object-fit: contain;
            //     top: 0;
            //     left: 0;
            //     transition: $transition-common;
            // }
            &_top {
                opacity: 0;
            }
        }
        &_question {
            display: flex;
            align-items: center;
            cursor: pointer;
            .qa_list_icon {
                background-color: $primary-1;
            }
            h2 {
                width: calc(100% - 55px - 15px);
                padding-left: 25px;
                font-size: 24px;
                font-weight: 900;
                margin: 0;
                transition: $transition-common;
            }
        }
        &_answer {
            padding-top: 25px;
            display: flex;
            // align-items: center;
            display: none;
            padding-left: 30px;
            .qa_list_icon {
                background-color: #000;
            }
            p {
                width: calc(100% - 55px);
                padding-left: 25px;
                font-size: 18px;
                margin: 0;
            }
        }
        &_icon {
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 36px;
            font-weight: 900;
        }
    }
    @media screen and (max-width: 767px) {
        &_list {
            &_item {
                padding: 15px;
            }
            &_icon {
                width: 50px;
                height: 50px;
                font-size: 32px;
            }
            &_question {
                h2 {
                    width: calc(100% - 50px - 15px);
                    font-size: 18px;
                    padding-left: 15px;
                }
            }
            &_answer {
                padding-top: 20px;
                padding-left: 20px;
                p {
                    width: calc(100% - 50px);
                    padding-left: 15px;
                    font-size: 16px;
                }
            }
        }
    }
}