.ecatalog {
    margin-bottom: 60px;
    .row {
        margin-left: -37px;
        margin-right: -37px;
        >div {
            padding-left: 37px;
            padding-right: 37px;
        }
    }
    &_pic {
        width: 100%;
        padding-bottom: 148%;
        position: relative;
        margin-bottom: 25px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_item {
        margin-bottom: 80px;
        display: block;
        cursor: pointer;
        h2 {
            text-align: center;
            margin: 0;
            font-size: 20px;
            font-weight: 700;
        }
    }
    &-modal {
        .modal {
            &-dialog {
                // margin-top: 20vh;
                margin: 20vh auto 0;
                max-width: 720px;
                width: calc(100% - 40px);
            }
            &-content {
                border: 0;
                border-radius: 0 0 80px 0;
                box-shadow: 8px 8px 35px rgba(6, 0, 1, 0.32);
            }
            &-header {
                background-color: $primary-1;
                padding: 30px 60px;
                color: #fff;
                border-radius: 0;
            }
            &-title {
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &-body {
                padding: 60px 60px 0;
            }
            &-footer {
                border: 0;
                padding: 20px 60px 75px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        &_password {
            color: $primary-1;
            text-decoration: underline;
        }
        &_btn {
            border-radius: 100px;
            background-color: $primary-1;
            color: #fff;
            width: 190px;
            height: 45px;
            font-size: 18px;
            transition: $transition-common;
            &:hover {
                background-color: $gray-4;
            }
        }
        &_close {
            width: 30px;
            cursor: pointer;
            >img {
                width: 100%;
            }
        }
    }
    &_input {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &_icon {
            width: 44px;
            margin-right: 30px;
        }
        input {
            border-radius: 8px;
            height: 65px;
            padding: 0 25px;
            background-color: #f4f4f4;
            width: calc(100% - 44px - 30px);
            &::placeholder {
                color: $gray-2;
            }
        }
        &.verify {
            input {
                width: calc(100% - 18px - 100px - 70px - 44px - 30px);
            }
            .verify_rotate {
                width: 18px;
            }
            .verify_num {
                width: 100px;
                margin: 0 35px;
                cursor: pointer;
            }
        }
    }
    @media screen and (max-width: 991px) {
        &-modal {
            .modal {
                &-content {
                    border-radius: 0 0 60px 0;
                }
                &-header {
                    padding: 15px 20px;
                }
                &-title {
                    font-size: 22px;
                }
                &-body {
                    padding: 40px 20px 0;
                }
                &-footer {
                    padding: 20px 20px 45px;
                }
            }
            &_close {
                width: 25px;
            }
            &_password {
                font-size: 16px;
            }
            &_btn {
                width: 150px;
                height: 40px;
                font-size: 16px;
            }
        }
        &_input {
            margin-bottom: 20px;
            &_icon {
                width: 35px;
                margin-right: 20px;
            }
            input {
                height: 50px;
                padding: 0 15px;
                font-size: 16px;
                width: calc(100% - 35px - 20px);
            }
            &.verify {
                input {
                    width: calc(100% - 18px - 80px - 40px - 35px - 20px);
                }
                .verify_rotate {
                    width: 18px;
                }
                .verify_num {
                    width: 80px;
                    margin: 0 20px;
                    cursor: pointer;
                }
            }
        }
    }
    @media screen and (max-width: 450px) {
        &-modal {
            .modal {
                &-title {
                    font-size: 18px;
                }
                &-footer {
                    flex-direction: column;
                    align-items: center;
                }
            }
            &_password {
                order: 2;
            }
            &_btn {
                order: 1;
                margin-bottom: 30px;
            }
            &_close {
                width: 20px;
            }
        }
        &_input {
            &_icon {
                width: 25px;
                margin-right: 10px;
            }
            input {
                width: calc(100% - 25px - 10px);
            }
            &.verify {
                input {
                    width: calc(100% - 15px - 60px - 30px - 25px - 10px);
                }
                .verify_rotate {
                    width: 15px;
                }
                .verify_num {
                    width: 60px;
                    margin: 0 15px;
                    cursor: pointer;
                }
            }
        }
    }
}