.banner {
    background-color: #000;
    position: relative;
    &_swiper {
        &_item {
            width: 100%;
            padding-bottom: 50%;
            position: relative;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                opacity: 0.7;
            }
        }
        &_text {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translateY(calc(-50% + 30px));
            width: 86%;
            h2 {
                font-size: 68px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 32px;
                font-weight: 400;
                margin: 0;
            }
        }
        .swiper-pagination {
            bottom: 6%;
            display: flex;
            align-items: center;
            justify-content: center;
            &-bullet {
                width: 99px;
                height: 3px;
                margin: 0 7px;
                opacity: 1;
                background-color: #fff;
                border-radius: 0;
                transition: $transition-common;
                &-active {
                    background-color: $primary-1;
                }
            }
        }
    }
    .search {
        position: absolute;
        right: 50px;
        top: 50%;
        // transform: translateY(calc(-50% - 10px));
        transform: translateY(-50%);
        z-index: 5;
    }
    @media screen and (max-width: 1600px) {
        &_swiper {
            &_text {
                left: 5%;
                width: 90%;
                h2 {
                    font-size: 54px;
                }
                h3 {
                    font-size: 25px;
                }
            }
        }
        .search {
            top: inherit;
            transform: none;
            bottom: 8vw;
        }
    }
    @media screen and (max-width: 1299px) {
        &_swiper {
            &_text {
                left: 3%;
                width: 94%;
                h2 {
                    font-size: 44px;
                }
                h3 {
                    font-size: 19px;
                }
            }
        }
    }
    @media screen and (max-width: 1199px) {
        &_swiper {
            &_text {
                h2 {
                    font-size: 38px;
                }
                h3 {
                    font-size: 16px;
                }
            }
            .swiper-pagination {
                justify-content: flex-start;
                padding-left: 3%;
            }
        }
        .search {
            bottom: 5vw;
        }
    }
    @media screen and (max-width: 991px) {
        &_swiper {
            &_item {
                padding-bottom: 150%;
            }
            .swiper-pagination {
                justify-content: center;
            }
        }
    }
    @media screen and (max-width: 400px) {
        &_swiper {
            &_text {
                h2 {
                    font-size: 32px;
                }
                h3 {
                    font-size: 14px;
                }
            }
            .swiper-pagination {
                &-bullet {
                    width: 70px;
                }
            }
        }
    }
}

.mainNav {
    // padding: 55px 0;
    background-image: url(../img/nav-bg.png);
    background-size: cover;
    background-position: 95% center;
    background-repeat: no-repeat;
    .row {
        margin: 0;
        >div {
            padding: 0;
        }
    }
    &_item {
        padding-left: 30px;
        display: block;
        padding: 20px 30px;
        color: #fff;
        position: relative;
        transition: $transition-common;
        cursor: pointer;
        z-index: 0;
        padding: 75px 30px;
        span {
            display: block;
            transition: $transition-common;
        }
        &_arrow {
            position: absolute;
            width: 35px;
            // height: 35px;
            // border-radius: 50%;
            // border: 1px solid #fff;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            top: 40px;
            right: 30px;
            transition: $transition-common;
            opacity: 0;
            filter: drop-shadow(0 2px 10px rgba(255,255,255,1));
            // img {
            //     width: 40%;
            //     filter: drop-shadow(0 2px 10px rgba(255,255,255,1));
            // }
        }
        &_num {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
        }
        &_text {
            font-size: 28px;
            font-weight: 500;
            transition: $transition-common;
        }
        &::before {
            position: absolute;
            content: "";
            width: 3px;
            height: calc(100% - 110px);
            background-color: #fff;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            transition: $transition-common;
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            z-index: -2;
            background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
            top: 0;
            left: 0;
            transition: $transition-common;
            width: 0;
        }
        &:hover {
            &::after {
                width: 100%;
            }
            .mainNav_item {
                &_text, &_num {
                    text-shadow: 0 2px 10px rgba(255,255,255,0.8);
                }
                &_arrow {
                    top: 55px;
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 1399px) {
        >.container {
            max-width: inherit;
        }
    }
    @media screen and (max-width: 991px) {
        &_item {
            padding-left: 20px;
            padding-right: 20px;
            span {
                font-size: 24px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding: 45px 0 15px;
        &_item {
            margin-bottom: 30px;
            padding: 15px;
            &_num {
                font-size: 16px;
                margin-bottom: 20px;
            }
            &_text {
                font-size: 24px;
            }
        }
    }
}

.home-product {
    &_title {
        position: absolute;
        font-size: 36px;
        font-weight: 700;
        top: 0;
        z-index: 5;
        writing-mode: vertical-rl;
        padding: 40px 20px;
        margin: 0;
        right: 50%;
        transform: rotate(180deg) translateX(-50%);
        color: #fff;
        transition: $transition-common;
    }
    &_item {
        position: relative;
        overflow: hidden;
        width: 110px;
        padding-bottom: calc((100% - 220px) * 0.55);
        background-color: #000;
        cursor: pointer;
        transition: 0.8s;
        &.active {
            width: calc(100% - 220px);
            background-color: #fff;
            cursor: inherit;
            &:not(:first-child) {
                border-left: 5px solid #fff;
            }
            .home-product {
                &_title {
                    background-color: #fff;
                    color: $primary-1;
                    border-radius: 0 35px 0 0;
                    right: calc(62% - 1px);
                    transform: rotate(180deg);
                }
                &_pic {
                    width: 38%;
                    opacity: 1;
                    // width: 120%;
                    // height: 120%;
                    &_inner {
                        >img {
                            animation: zoomin 10s ease-in-out forwards;
                            // transform: scale(1.1);
                        }
                    }
                }
                &_list {
                    left: 38%;
                }
                &_btn {
                    opacity: 1;
                }
            }
        }
        &:not(.active) {
            &:hover {
                width: 200px;
                .home-product {
                    &_pic {
                        opacity: 0.3;
                    }
                }
            }
        }
    }
    &_pic {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.8;
        transition: 0.8s;
        &_inner {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                transition: 0.8s;
            }
        }
    }
    &_list {
        // width: 62%;
        width: calc((100vw - 220px) * 0.62);
        // height: 100%;
        background-color: #fff;
        padding: 0 6.8vw;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }
    &_swiper {
        .row {
            margin-left: -22px;
            margin-right: -22px;
            >div {
                padding-left: 22px;
                padding-right: 22px;
            }
        }
    }
    &_product {
        display: block;
        margin: 20px 0;
        &_pic {
            width: 100%;
            padding-bottom: 66%;
            position: relative;
            margin-bottom: 20px;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                transition: $transition-common;
            }
        }
        p {
            margin: 0;
            padding-left: 13px;
            color: $gray-3;
            font-size: 20px;
            font-weight: 500;
            transition: $transition-common;
        }
        &:hover {
            .home-product_product_pic {
                >img {
                    transform: scale(1.2);
                }
            }
            p {
                color: $primary-1;
            }
        }
    }
    &-next, &-prev {
        // width: 23px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        >svg {
            width: 50px;
            height: 50px;
            .cls-1 {
                fill: $primary-1;
            }
        }
    }
    &-next {
        right: 5%;
    }
    &-prev {
        left: 5%;
    }
    &_btn {
        position: absolute;
        bottom: 50px;
        left: 70px;
        z-index: 5;
        opacity: 0;
        &:hover {
            background-color: #fff;
            color: $primary-1;
        }
    }
    @media screen and (max-width: 1199px) {
        &_item {
            width: 80px;
            &.active {
                width: calc(100% - 160px);
            }
        }
        &_title {
            font-size: 28px;
            padding: 30px 15px;
        }
        &_list {
            width: calc((100vw - 160px) * 0.62);
        }
        &_swiper {
            .row {
                margin-left: -10px;
                margin-right: -10px;
                >div {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        &_product {
            p {
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_item {
            // padding: 20px;
            padding-bottom: 40%;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            border-left: 0 !important;
            width: 100% !important;
        }
        &_list {
            display: none;
        }
        &_title {
            // position: static;
            text-align: center;
            writing-mode: horizontal-tb !important;
            color: #fff !important;
            // padding: 20px 0;
            padding: 0;
            top: 10%;
            // top: 0;
            left: 50% !important;
            right: inherit !important;
            transform: translateX(-50%) !important;
            text-shadow: 0 2px 10px rgba(0,0,0,0.25);
            background-color: transparent !important;
        }
        &_btn {
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 1 !important;
        }
        &_pic {
            width: 100% !important; 
            &_inner {
                >img {
                    animation: zoomin 10s ease-in-out forwards;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_item {
            padding-bottom: 60%;
        }
        &_btn {
            font-size: 14px;
            padding: 8px 20px;
        }
        &_title {
            font-size: 24px;
            width: 100%;
        }
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.home-about {
    padding: 130px 0 110px;
    background-image: url(../img/about-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    background-attachment:fixed;
    &_title {
        margin-bottom: 70px;
        position: relative;
    }
    &_subtitle {
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 40px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 50px;
            height: 4px;
            background-color: $primary-1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_text {
        font-size: 20px;
        line-height: 1.7;
    }
    &_certificate {
        width: 100%;
    }
    &_top {
        margin-left: -27px;
        margin-right: -27px;
        margin-bottom: 60px;
        >div {
            padding-left: 27px;
            padding-right: 27px;
        }
    }
    &_bottom {
        .home-about {
            &_title {
            }
            &_text {
                max-width: 965px;
                margin: 0 auto 110px;
            }
        }
    }
    &_btn {
        display: block;
        width: fit-content;
        margin: 0 auto 170px;
        &:hover {
            background-color: #fff;
            color: $primary-1;
        }
    }
    &_icon {
        margin-left: -42px;
        margin-right: -42px;
        >div {
            padding-left: 42px;
            padding-right: 42px;
            position: relative;
            &:not(:last-child) {
                &::after {
                    position: absolute;
                    content: "";
                    width: 35px;
                    height: 35px;
                    background-image: url(../img/x-white.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 50%;
                    right: -21px;
                    transform: translateY(-50%);
                }
            }
        }
        &_sixside {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            .cls-2 {
                transition: $transition-common;
            }
        }
        &_item {
            position: relative;
            width: 100%;
            padding-bottom: 87%;
            // background-image: url(../img/six-sided.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
                .home-about_icon {
                    &_sixside {
                        .cls-2 {
                            fill: $primary-1;
                            opacity: 1;
                        }
                    }
                    &_pic {
                        .cls-1 {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        &_inner {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 1;
            h3 {
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
                margin: 0;
                width: 60%;
            }
        }
        &_pic {
            // width: 90px;
            // height: 90px;
            position: relative;
            margin-bottom: 20px;
            z-index: 2;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
            }
            >svg {
                // position: absolute;
                width: 90px;
                height: 90px;
                .cls-1 {
                    fill: $primary-1;
                    transition: $transition-common;
                }
            }
        }
        &_develop {
            transform: scale(1.1);
        }
        &_quality {
            transform: scale(0.9);
        }
    }
    @media screen and (max-width: 1399px) {
        &_icon {
            &_inner {
                p {
                    width: 50%;
                    font-size: 16px;
                }
            }
        }
    }
    @media screen and (max-width: 1199px) {
        .container {
            max-width: inherit;
        }
        &_icon {
            &_pic {
                margin-bottom: 10px;
                >svg {
                    width: 70px;
                    height: 70px;
                }
            }
            &_inner {
                h3 {
                    font-size: 24px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_text {
            margin-bottom: 50px !important;
        }
        &_icon {
            margin: 0 auto;
            max-width: 400px;
            >div {
                margin-bottom: 100px;
                padding: 0;
                &:not(:last-child) {
                    &::after {
                        top: calc(100% + 29px);
                        right: 50%;
                        transform: translateX(50%);
                    }
                }
            }
        }
        &_certificate {
            max-width: 650px;
            margin: 0 auto;
            display: block;
        }
    }
    @media screen and (max-width: 767px) {
        &_text {
            font-size: 18px;
        }
        &_title {
            margin-bottom: 40px;
        }
        &_subtitle {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 575px) {
        &_title {
            margin-bottom: 40px;
        }
        &_text {
            font-size: 16px;
        }
        &_subtitle {
            font-size: 24px;
        }
    }
}

.btn-more {
    background-color: $primary-1;
    padding: 15px 45px;
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    // left: 70px;
    display: block;
    width: fit-content;
    transition: $transition-common;
    @media screen and (max-width: 991px) {
        font-size: 18px;
        padding: 10px 30px;
    }
}

.home-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    .highlight {
        color: $primary-1;
    }
    @media screen and (max-width: 767px) {
        font-size: 42px;
    }
    @media screen and (max-width: 575px) {
        font-size: 32px;
    }
}

.home-news {
    padding: 130px 0 100px;
    background-image: url(../img/news-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_title {
        color: $gray-4;
        margin-bottom: 80px;
    }
    &_item {
        display: flex;
        align-items: center;
        padding: 30px 0;
        position: relative;
        border-bottom: 1px solid $gray-1;
        z-index: 0;
        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            width: calc(100% - 30px - 130px);
            transition: $transition-common;
        }
        img {
            width: 30px;
        }
        &:hover {
            h3, .home-news_date {
                color: $primary-1;
            }
        }
    }
    &_date {
        color: $gray-2;
        font-size: 18px;
        font-weight: 500;
        width: 130px;
        transition: $transition-common;
    }
    &_content {
        margin-bottom: 80px;
    }
    .btn-more {
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
    @media screen and (max-width: 991px) {
        &_title {
            margin-bottom: 40px;
        }
        &_item {
            h3 {
                width: calc(100% - 130px);
            }
            img {
                display: none;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_item {
            display: block;
            h3 {
                width: 100%;
            }
        }
        &_date {
            margin-bottom: 10px;
            display: block;
        }
    }
}

.home-contact {
    padding: 135px 0 90px;
    background-image: url(../img/contact-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    background-attachment:fixed;
    .home-title {
        margin-bottom: 50px;
    }
    &_text {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .row {
        margin-left: -42px;
        margin-right: -42px;
        >div {
            padding-left: 42px;
            padding-right: 42px;
        }
    }
    input {
        padding: 0 30px;
        height: 70px;
    }
    textarea {
        padding: 20px 30px;
    }
    input, textarea {
        background-color: $gray-4;
        color: #fff;
        font-size: 22px;
        margin-bottom: 22px;
        width: 100%;
        &::placeholder {
            color: $gray-3;
        }
    }
    &_vertify {
        max-width: 340px;
        width: 100%;
        margin-right: 40px;
        margin-bottom: 0 !important;
    }
    &_number {
        width: 110px;
        margin-right: 40px;
    }
    &_icon {
        width: 30px;
        height: 30px;
        .cls-1 {
            fill: $primary-1;
        }
    }
    .btn-more {
        width: 200px;
        &:hover {
            background-color: #fff;
            color: $primary-1;
        }
    }
    @media screen and (max-width: 767px) {
        &_vertify, &_number {
            margin-right: 20px;
        }
        &_number {
            width: 80px;
        }

    }
    @media screen and (max-width: 575px) {
        .home-title {
            margin-bottom: 30px;
        }
        &_icon {
            // width: 20px;
            // height: 20px;
            // width: 20px;
        }
        &_vertify {
            width: calc(100% - 30px - 80px - 40px) !important;
            max-width: inherit;
        }
        input, textarea {
            font-size: 18px;
        }
        input {
            padding: 0 15px;
            height: 60px;
        }
        textarea {
            padding: 15px;
        }
    }
}